// Override the default font weight (too heavy in dark mode).
// This will only affect content, the navigation bar, etc will still have a heavier weight.
.main-content {
  font-weight: 300;
}

// Search input text color too dark in dark mode
.search-input {
  color: $body-text-color;
}

// customize app images
.app-portrait {
   width: 50%;
   padding: 5%;
   float: right;
}

.app-icon {
   max-height: 1em;
   max-width: 1em;
}
